@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gold: #D4AF37; /* Custom gold color */
  --gold-hover: #b9972b; /* Darker gold color on hover */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Custom gold button styles */
  .bg-gold {
    background-color: var(--gold);
  }

  .hover\:bg-gold-600:hover {
    background-color: var(--gold-hover);
  }
}
